NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_IDENTITY_CONTRACT_ID=CD5ZWBKB4H3HV63Z5TVDOMRNBIQNCUWONHXP5AEDUN52MAPXEIRJNJYH
RELAYER_SECRET_KEY=SBXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
